<%- title "Guided Search" -%>

<p>
  This form will help you construct a search query.
</p>

<% form_for(:search, :url => {:action => 'search'}, :html => { :id => 'advanced_search' }) do |f| %>
  <table><tbody>
  <%- ([:full_text] + GuidedSearchContainer::FIELD_NAMES).each do |field| -%>
    <tr class="<%= cycle("even", "odd") %>">
      <%- logger.warn field -%>
      <th><%= f.label field %></th>
      <%- # why? -%>
      <%- if field == :format -%>
        <td><%= text_field_tag 'search[format]', @search.format, :id => 'search_format' %></td>
      <%- else -%>
        <td><%= f.text_field field %></td>
      <%- end -%>
    </tr>
  <%- end -%>
  </tbody></table>
  <p><%= submit_tag("Search") %></p>
<% end %>