<div class="date_available">
  <p>
    <%= f.label(:date_available_start, "Start:") %>&nbsp;<%= f.text_field :date_available_start %>
    &nbsp;&nbsp;
    <%= f.label(:date_available_start, "End:") %>&nbsp;<%= f.text_field :date_available_end %>
    <%= f.remove_link "remove" %>
  </p>
</div>