<%- add_navbar "edit asset", edit_asset_url(@asset) -%>
<%- add_navbar "edit instantiations", asset_instantiations_url(@asset) %>
<% form_for([@asset, @instantiation]) do |f| %>
  <%= error_messages_for :instantiation %>
  <h3>Format Identifiers</h3>
  <div id="format_ids">
    <%= f.render_associated_form(@instantiation.format_ids) %>
  </div>
  <p><%= f.add_associated_link "Add a format ID…", @instantiation.format_ids.build %></p>
  <h3>Instantiation Information</h3>
  <p>
    <%-# TODO: Use date/time pickers, not this silliness -%>
    <%= f.label(:date_created, "Date Created:") %> <%= f.text_field(:date_created) %>
    <br />
    <%= f.label(:date_issued, "Date Issued:") %> <%= f.text_field(:date_issued) %>
    <br />
    <%= f.label(:format_id, "Format:") %>
    <%= f.select :format_id, Format.all(:conditions => ["visible = 1 OR id = ?", @instantiation.format_id]).map{|i| [i.name, i.id]}, :include_blank => true %>
    <br />
    <%= f.label(:format_location, "Format Location:") %> <%= f.text_field(:format_location) %>
    <br />
    <%= f.label(:format_media_type_id, "Format Media Type:") %>
    <%= f.select :format_media_type_id, FormatMediaType.all(:conditions => ["visible = 1 OR id = ?", @instantiation.format_media_type_id]).map{|i| [i.name, i.id]}, :include_blank => true %>
    <br />
    <%= f.label(:format_generation_id, "Format Generations:") %>
    <%= f.select :format_generation_id, FormatGeneration.all(:conditions => ["visible = 1 OR id = ?", @instantiation.format_generation_id]).map{|i| [i.name, i.id]}, :include_blank => true %>
    <br />
    <%= f.label(:format_file_size, "Format File Size:") %> <%= f.text_field(:format_file_size) %>
    <br />
    <%= f.label(:format_time_start, "Format Time Start:") %> <%= f.text_field(:format_time_start) %>
    <br />
    <%= f.label(:format_duration, "Format Duration:") %> <%= f.text_field(:format_duration) %>
    <br />
    <%= f.label(:format_data_rate, "Format Data Rate:") %> <%= f.text_field(:format_data_rate) %>
    <br />
    <%= f.label(:format_color, "Format Colors:") %>
    <%= f.select :format_color_id, FormatColor.all(:conditions => ["visible = 1 OR id = ?", @instantiation.format_color_id]).map{|i| [i.name, i.id]}, :include_blank => true %>
    <br />
    <%= f.label(:format_tracks, "Format Tracks:") %> <%= f.text_field(:format_tracks) %>
    <br />
    <%= f.label(:format_channel_configuration, "Format Channel Configuration:") %> <%= f.text_field(:format_channel_configuration) %>
    <br />
    <%= f.label(:language, "Language:") %>
    <%= f.select :language, ISO639::FOR_SELECT, :include_blank => true %>
    <br />
    <%= f.label(:alternative_modes, "Alternative Modes:") %> <%= f.text_field(:alternative_modes) %>
  </p>
  <h3>Essence Tracks</h3>
  <div id="essence_tracks" >
    <%= f.render_associated_form(@instantiation.essence_tracks) %>
  </div>
  <p><%= f.add_associated_link "Add an essence track…", @instantiation.essence_tracks.build %></p>
  <h3>Dates Available</h3>
  <div id="date_availables">
    <%= f.render_associated_form(@instantiation.date_availables) %>
  </div>
  <p><%= f.add_associated_link "Add a date available…", @instantiation.date_availables.build %></p>
  <h3>Annotation</h3>
  <div id="annotations">
    <%= f.render_associated_form(@instantiation.annotations) %>
  </div>
  <p><%= f.add_associated_link "Add an annotation…", @instantiation.annotations.build %></p>
  
  <p><%= f.submit "Submit" %>
<% end %>