<div class="format_id">
  <p>
    <%= f.label(:format_identifier, "Identifier:") %> <%= f.text_field :format_identifier %>
    <%= f.remove_link "remove" %>
    <br />
    <%= f.label(:format_identifier_source, "Source:") %> <%= f.text_field :format_identifier_source %>
  </p>
</div>