<%- title "Instantiations of #{@asset.title}" -%>
<%- if @instantiations.empty? -%>
<p><em>No instantiations yet.</em></p>
<%- end -%>
<ul>
  <%- @instantiations.each do |instantiation| -%>
    <li id="instantiation_<%= instantiation.id %>">
      <%= instantiation.identifier %>
      (<%= instantiation.format.nil? ? "unknown format" : instantiation.format.name %>,
      <%= instantiation.format_media_type.nil? ? "unknown media type" : instantiation.format_media_type.name %>)
      <%= link_to "Edit", :action => 'edit', :id => instantiation.id %>
      <%= link_to_remote "destroy",  :url => { :action => 'destroy', :id => instantiation.id }, :method => :delete, :confirm => "Are you sure you wish to delete #{instantiation.identifier}?", :html => { :class => "destroy_link" } %>
    </li>
  <%- end -%>
  <li><%= link_to("Add a new instantiation…", :action => 'new') %></li>
</ul>