- title "Instantiations of #{@asset.title}"
- assets_navbar
- if @instantiations.empty?
  %p<
    %em No instantiations yet.
%ul
  - @instantiations.each do |instantiation|
    %li{ :id => "instantiation_#{instantiation.id}" }
      = instantiation.identifier
      (#{instantiation.format.nil? ? "unknown format" : instantiation.format.name},
      #{instantiation.instantiation_media_type.nil? ? "unknown media type" : instantiation.instantiation_media_type.name})
      - permitted_to? :edit, instantiation do
        = link_to "edit", :action => 'edit', :id => instantiation.id
      - permitted_to? :borrow, instantiation do
        = link_to "borrow", :action => 'borrowings', :id => instantiation.id
      - permitted_to? :new, :templates do
        = link_to "make template", edit_template_path(instantiation.id)
      - permitted_to? :destroy, instantiation do
        = link_to_remote "destroy",  :url => { :action => 'destroy', :id => instantiation.id }, :method => :delete, :confirm => "Are you sure you wish to delete #{instantiation.identifier}?", :html => { :class => "destroy_link" }
  - permitted_to? :new, :instantiations do
    %li= link_to("Add a new instantiation…", :action => 'new')
    - @templates.each do |template_id, template_name|
      %li= link_to("Add a new #{h(template_name)}…", :action => 'new', :template_id => template_id)
  - permitted_to? :video, :instantiations do
    %li#uploadinst{:style => @asset.online? ? "display: none;" : nil}= link_to("Upload a video instantiation…", :action => 'video')
    %li#uploadthumb{:style => @asset.has_thumbnail? ? "display: none;" : nil}= link_to("Upload a thumbnail…", :action => 'thumbnail')
