<div class="coverage">
  <p>
    <%= f.label(:coverage_type, "Coverage Type: ") %> <%= f.select :coverage_type, ["Spatial", "Temporal"] %>
    &nbsp;&nbsp;
    <%= f.label(:coverage, "Coverage: ") %> <%= f.text_field :coverage %>
    <%= f.remove_link "remove" %>
  </p>
</div>