<div class="creator">
  <p>
    <%= f.label(:creator_role_id, "Creator Role: ") %>
    <%= f.select :creator_role_id, CreatorRole.quick_load_for_select(["visible = 1 OR id = ?", creator.creator_role_id]) %>
    &nbsp;&nbsp;
    <%= f.label(:creator, "Creator:") %> <%= f.text_field :creator %>
    <%= f.remove_link "remove" %>
  </p>
</div>
