<div class="creator">
  <p>
    <%= f.label(:creator_role_id, "Creator Role: ") %>
    <%= f.select :creator_role_id, CreatorRole.all(:conditions => ["visible = 1 OR id = ?", creator.creator_role_id]).map{|i| [i.name, i.id]} %>
    &nbsp;&nbsp;
    <%= f.label(:creator, "Creator:") %> <%= f.text_field :creator %>
    <%= f.remove_link "remove" %>
  </p>
</div>