<div class="extension">
  <p>
    <%= f.label(:extension_name_id, "Extension Type: ") %>
    <%= f.select :extension_name_id, ExtensionName.all(:conditions => ["visible = 1 OR id = ?", extension.extension_name_id], :order => "description ASC").map{|i| [i.description, i.id]} %>
    <%= f.remove_link "remove" %>
    <br />
    <%= f.label(:extension, "Extension Value:") %>
    <br />
    <%= f.text_area :extension_value, :size => "80x5" %>
  </p>
</div>
