<div class="extension">
  <p>
    <%= f.label(:extension_authority_used, "Extension Authority: ") %>
    <%= f.text_field :extension_authority_used %>
    <%= f.remove_link "remove" %>
    <br />
    <%= f.label(:extension, "Extension:") %>
    <br />
    <%= f.text_area :extension, :size => "80x5" %>
  </p>
</div>
