<table id="facets">
  <tr>
  <%- Asset::FACET_NAMES.each do |facet_name| -%>
    <%- facet = @search_object.facet(facet_name) -%>
      <td style="vertical-align: top;"><h3><%= facet_name.to_s.capitalize %></h3>
      <%- if facet -%>
      <%- param_name = "facet_#{facet_name}"; arr = params[param_name] || [] -%>
        <ul>
          <%- facet.rows.each do |row| -%>
	    <li>
	      <%- if arr.include?(row.value) -%>
	        <strong><%= row.value %></strong> (<%= row.count %>) <%= link_to("[X]", params.merge(param_name => arr - [row.value])) %>
	      <%- else -%>
                <%= link_to(row.value, params.merge(param_name => arr + [row.value])) %> (<%= row.count %>)
	      <%- end -%>	
	    </li>
	  <%- end -%>
        </ul>
      <%- end -%>
      </td>
  <%- end -%>
  </tr>
</table>
