- PBCore.config['facets'].map{|facet| facet[0]}.each do |facet_name|
  - facet = @search_object.dynamic_facet("facets", facet_name)
  %tr
    %td.sidebarSearchLinks
      %a{ :href => "#" }= facet_name
  - if facet
    - param_name = "facet_#{facet_name}"
    - arr = params[param_name] || []
    %tr.secondaryLinks{ :style => arr.empty? ? "display:none;" : nil }
      %td
        - first = true
        - facet.rows.each_slice(10) do |rowset|
          .rowset{ :style => first ? nil : "display:none;" }
            - first = false
            - rowset.each do |row|
              - if arr.include?(row.value)
                %strong& #{row.value} (#{row.count})
                = link_to("[X]", params.merge(param_name => arr - [row.value]), :rel => "nofollow")
              - else
                = link_to(h(row.value), params.merge(param_name => arr + [row.value]), :class => "secondaryLink", :rel => "nofollow")
                (#{row.count})
              %br
        - if facet.rows.size > 10
          %a.morelink{ :href => "#", "data-shown" => 1, "data-possible" => (facet.rows.size - 1) / 10 + 1 } More…