- assets_navbar
#edit_id&= @asset.id
- form_for @asset do |f|
  = error_messages_for :asset
  %h2 Intellectual Content
  %h3 Identifiers
  #identifiers
  %h3 Titles
  #titles
  %h3 Subjects
  #subjects
  %h3 Descriptions
  #descriptions
  %h3 Genres
  #genres
  %h3 Relations
  #relations
  %h3 Coverages
  #coverages
  %h3 Audience Levels
  #audience_levels
  %h3 Audience Ratings
  #audience_ratings
  %h2 Intellectual Property Section
  %h3 Creators
  #creators
  %h3 Contributors
  #contributors
  %h3 Publishers
  #publishers
  %h3 Rights
  #rights_summaries
  - unless @asset.new_record?
    %h2 Instantiation Section
    %p
      This asset currently has
      %strong= icount = @asset.instantiations.count
      instantiation#{icount == 1 ? '' : 's'}.
      \#{link_to "Edit, modify, and delete instantiations for this record.", asset_instantiations_url(@asset)}
  %h2 Extension Section
  %h3 Extensions
  #extensions
    = f.render_associated_form(@asset.extensions)
  %p= f.add_associated_link "Add an extension…", @asset.extensions.build
  %p
    = f.submit "Submit"
