<% form_for @asset do |f| %>
  <%= error_messages_for :asset %>

  <h2>Intellectual Content</h2>
  <h3>Identifiers</h3>
  <div id="identifiers">
    <%= f.render_associated_form(@asset.identifiers) %>
  </div>
  <p><%= f.add_associated_link "Add an identifier…", @asset.identifiers.build %></p>

  <h3>Titles</h3>
  <div id="titles">
    <%= f.render_associated_form(@asset.titles) %>
  </div>
  <p><%= f.add_associated_link "Add a title…", @asset.titles.build %></p>

  <h3>Subjects</h3>
  <div id="subjects">
    <%= f.render_associated_form(@asset.subjects) %>
  </div>
  <p><%= f.add_associated_link "Add a subject…", @asset.subjects.build %></p>

  <h3>Descriptions</h3>
  <div id="descriptions">
    <%= f.render_associated_form(@asset.descriptions) %>
  </div>
  <p><%= f.add_associated_link "Add a description…", @asset.descriptions.build %></p>

  <h3>Genres</h3>
  <div id="genres">
    <%= f.render_associated_form(@asset.genres) %>
  </div>
  <p><%= f.add_associated_link "Add a genre…", @asset.genres.build %></p>

  <h3>Relations</h3>
  <div id="relations">
    <%= f.render_associated_form(@asset.relations) %>
  </div>
  <p><%= f.add_associated_link "Add a relation…", @asset.relations.build %></p>

  <h3>Coverages</h3>
  <div id="relations">
    <%= f.render_associated_form(@asset.coverages) %>
  </div>
  <p><%= f.add_associated_link "Add a coverage…", @asset.coverages.build %></p>

  <h3>Audience Levels</h3>
  <div id="audience_levels">
    <%- AudienceLevel.all.each do |level| -%>
    <span style="white-space: nowrap;">
    <%= check_box_tag "asset[audience_level_ids][]", level.id, @asset.audience_levels.include?(level), :id => "level_box_#{level.id}" %>
    <label for="level_box_<%= level.id %>"><%= level.name %></label>
    </span>
    &nbsp;&nbsp;
    <%- end -%>
  </div>

  <h3>Audience Ratings</h3>
  <div id="audience_ratings">
    <%- AudienceRating.all.each do |rating| -%>
    <span style="white-space: nowrap;">
    <%= check_box_tag "asset[audience_rating_ids][]", rating.id, @asset.audience_ratings.include?(rating), :id => "rating_box_#{rating.id}" %>
    <label for="rating_box_<%= rating.id %>"><%= rating.name %></label>
    </span>
    &nbsp;&nbsp;
    <%- end -%>
  </div>
  
  <h2>Intellectual Property Section</h2>
  <h3>Creators</h3>
  <div id="creators">
    <%= f.render_associated_form(@asset.creators) %>
  </div>
  <p><%= f.add_associated_link "Add a creator…", @asset.creators.build %></p>

  <h3>Contributors</h3>
  <div id="contributors">
    <%= f.render_associated_form(@asset.contributors) %>
  </div>
  <p><%= f.add_associated_link "Add a contributor…", @asset.contributors.build %></p>

  <h3>Publishers</h3>
  <div id="publishers">
    <%= f.render_associated_form(@asset.publishers) %>
  </div>
  <p><%= f.add_associated_link "Add a publisher…", @asset.publishers.build %></p>

  <h3>Rights</h3>
  <div id="rights_summaries">
    <%= f.render_associated_form(@asset.rights_summaries) %>
  </div>
  <p><%= f.add_associated_link "Add a rights summary…", @asset.rights_summaries.build %></p>
 
  <h2>Instantiation Section</h2>
  <p><em>Coming soon.</em></p>

  <h2>Extension Section</h2>
  <h3>Extensions</h3>
  <div id="extensions">
    <%= f.render_associated_form(@asset.extensions) %>
  </div>
  <p><%= f.add_associated_link "Add an extension…", @asset.extensions.build %></p>

  <p>
    <%= f.submit "Submit" %>
  </p>
<% end %>