<% semantic_form_for @asset do |form| %>
  <h2>Intellectual Content</h2>
  <h3>Identifiers</h3>
  <% form.semantic_fields_for :identifiers do |f| %>
    <%= render 'identifier_fields', :f => f %>
  <% end %>
  <%= add_another form, :identifiers %>
  
  <h3>Asset Dates</h3>
  <% form.semantic_fields_for :asset_dates do |f| %>
    <%= render 'asset_date_fields', :f => f %>
  <% end %>
  <%= add_another form, :asset_dates %>

  <h3>Titles</h3>
  <% form.semantic_fields_for :titles do |f| %>
    <%= render 'title_fields', :f => f %>
  <% end %>
  <%= add_another form, :titles %>
  
  <h3>Subjects</h3>
  <% form.inputs do %>
    <%= form.input :subject_tokens, :label => "Subjects", :input_html => { "data-pre" => @asset.subjects.collect { |s| { :id => s.id, :name => "#{s.subject} (#{s.subject_authority})"}}.to_json } %>
  <% end %>
  
  <h3>Descriptions</h3>
  <% form.semantic_fields_for :descriptions do |f| %>
    <%= render 'description_fields', :f => f %>
  <% end %>
  <%= add_another form, :descriptions %>
  
  <h3>Genres</h3>
  <% form.inputs do %>
    <%= form.input :genre_tokens, :label => "Genres", :input_html => { "data-pre" => @asset.genres.collect { |g| { :id => g.id, :name => "#{g.name} (#{g.genre_authority_used})"}}.to_json } %>
  <% end %>

  <h3>Relations</h3>
  <% form.semantic_fields_for :relations do |f| %>
    <%= render 'relation_fields', :f => f %>
  <% end %>
  <%= add_another form, :relations %>

  <h3>Coverages</h3>
  <% form.semantic_fields_for :coverages do |f| %>
    <%= render 'coverage_fields', :f => f %>
  <% end %>
  <%= add_another form, :coverages %>

  <% if show_audience_levels? %>
    <h3>Audience Levels</h3>
    <% form.inputs do %>
      <%= form.input :audience_levels, :as => :check_boxes %>
    <% end %>
  <% end %>

  <% if show_audience_ratings? %>
    <h3>Audience Ratings</h3>
    <% form.inputs do %>
      <%= form.input :audience_ratings, :as => :check_boxes %>
    <% end %>
  <% end %>

  <h2>Intellectual Property</h2>
  <h3>Creators</h3>
  <% form.semantic_fields_for :creators do |f| %>
    <%= render 'creator_fields', :f => f %>
  <% end %>
  <%= add_another form, :creators %>
  
  <h3>Contributors</h3>
  <% form.semantic_fields_for :contributors do |f| %>
    <%= render 'contributor_fields', :f => f %>
  <% end %>
  <%= add_another form, :contributors %>

  <h3>Publishers</h3>
  <% form.semantic_fields_for :publishers do |f| %>
    <%= render 'publisher_fields', :f => f %>
  <% end %>
  <%= add_another form, :publishers %>

  <h3>Rights</h3>
  <% form.semantic_fields_for :rights_summaries do |f| %>
    <%= render 'rights_summary_fields', :f => f %>
  <% end %>
  <%= add_another form, :rights_summaries %>
  
  <% unless @asset.new_record? %>
    <h2>Instantiations</h2>
    <p>This asset currently has <%= pluralize(@asset.instantiations.count, "instantiation") %>. <%= link_to "Edit, modify, and delete instantiations for this record.", asset_instantiations_path(@asset) %>
  <% end %>

  <h2>Extensions</h2>
  <% form.semantic_fields_for :extensions do |f| %>
    <% f.inputs do %>
      <%= f.input :extension %>
    <% end %>
  <% end %>

  <%= form.buttons %>
<% end %>
