- assets_navbar
#edit_id&= @asset.new_record? ? 'new' : @asset.uuid
- form_for @asset do |f|
  %div{:style => "margin:0; padding:0"}<
    %input{:type => "hidden", :name => "xml", :id => "xml_from_editor"}
%form
  #error_messages
    = error_messages_for :asset
  %h2 Intellectual Content
  %h3 Identifiers
  #identifiers
  %h3 Titles
  #titles
  %h3 Subjects
  #subjects
  %h3 Descriptions
  #descriptions
  %h3 Genres
  #genres
  %h3 Relations
  #relations
  %h3 Coverages
  #coverages
  %h3 Audience Levels
  #audience_levels
  %h3 Audience Ratings
  #audience_ratings
  %h2 Intellectual Property Section
  %h3 Creators
  #creators
  %h3 Contributors
  #contributors
  %h3 Publishers
  #publishers
  %h3 Rights
  #rights_summaries
  - unless @asset.new_record?
    %h2 Instantiation Section
    %p
      This asset currently has
      %strong= icount = @asset.instantiations.count
      instantiation#{icount == 1 ? '' : 's'}.
      \#{link_to "Edit, modify, and delete instantiations for this record.", asset_instantiations_url(@asset)}
  %h2 Extension Section
  %h3 Extensions
  #extensions
  %p#submit_area