<div class="genre">
  <p>
    <%= f.label(:genre, "Genre:") %> <%= f.text_field :genre %>
    <%= f.remove_link "remove" %>
    <br />
    <%= f.label(:genre_authority_used, "Genre authority used:") %> <%= f.text_field :genre_authority_used %>
  </p>
</div>