<div class="publisher">
  <p>
    <%= f.label(:publisher_role_id, "Publisher Role: ") %>
    <%= f.select :publisher_role_id, PublisherRole.all(:conditions => ["visible = 1 OR id = ?", publisher.publisher_role_id]).map{|i| [i.name, i.id]} %>
    &nbsp;&nbsp;
    <%= f.label(:publisher, "Publisher:") %> <%= f.text_field :publisher %>
    <%= f.remove_link "remove" %>
  </p>
</div>