<div class="subject">
  <p>
    <%= f.label(:subject, "Subject:") %> <%= f.text_field :subject %>
    <%= f.remove_link "remove" %>
    <br />
    <%= f.label(:subject_authority, "Subject authority:") %> <%= f.text_field :subject_authority %>
  </p>
</div>