<%= render :partial => 'search_form' %>

<ul>
  <%- @assets.each do |asset| -%>
    <li>
      <%= h asset.titles.map{|t| t.title}.join(", ") %>
      <%= link_to "view", asset_url(asset.uuid) %>
      <%= link_to "xml", formatted_asset_url(asset.uuid, "xml") %>
    </li>
  <%- end -%>
</ul>

<%= will_paginate @search_object %>

<p><%= link_to "upload assets", :controller => :xml %></p>