<%- title(@query ? "Search for #{@query}" : "Assets") -%>
<%= render :partial => 'search_form' %>

<%- if @assets.empty? -%>
<h2>Nothing found.</h2>
<%- else -%>
<ul>
  <%- @assets.each do |asset| -%>
    <li id="asset_<%= asset.id %>">
      <%= h asset.title %>
      <%= link_to "view", asset_url(asset.uuid) if authorized?('show', asset) %>
      <%= link_to "xml", formatted_asset_url(asset.uuid, "xml") if authorized?('show', asset) %>
      <%= link_to "edit", edit_asset_url(asset) if authorized?('edit', asset) %>
      <%= link_to_remote "destroy", :url => { :action => 'destroy', :id => asset.id }, :method => :delete, :confirm => "Are you sure you wish to delete #{asset.title}?", :html => { :class => "destroy_link" } if authorized?('destroy', asset)%>
    </li>
  <%- end -%>
</ul>

<%= will_paginate @search_object %>
<%- end -%>
