<%- title(@query ? "Search for #{@query}" : "Assets") -%>
<%= render :partial => 'search_form' %>

<%- if @assets.empty? -%>
<h2>Nothing found.</h2>
<%- else -%>
<p>
  <span id="record_count">Showing records <strong><%= @search_object.offset + 1 %></strong>–<strong><%= @search_object.offset + @assets.size %></strong> of <strong id="total_entries"><%= @search_object.total_entries %></strong>.</span>
  <%= link_to_remote "#{session[:show_annotations] ? "hide" : "show"} annotations", :url => { :action => "toggleannotations" }, :html => { :id => "toggle_annotations_link", :href => url_for(:action => "toggleannotations") }, :method => :get %>
</p>
<%- permitted_to? :destroy_found_set, :assets do -%>
  <%- if params[:q] -%>
    <% form_tag destroy_found_set_assets_path, :method => :delete, :id => "super-dangerous" do %>
      <p>
        <%= hidden_field_tag :q, params[:q], :id => "destroy_found_set_q" %>
        <%= submit_tag "destroy found set", :disabled => true %>
      </p>
    <% end %>
  <%- end -%>
<%- end -%>
<%- permitted_to? :merge, :assets do -%>
  <%- content_for :javascript do -%>
    $(function(){
      $('.mergebox input').bind("change", checkMerge);
      checkMerge();
      $('.lendbox input').bind("change", checkLend);
      checkLend();
    });
  <%- end -%>
  <%= form_tag({:action => 'multiprocess'}, :method => :post) %>
  <%- if params[:q] -%>
    <%= hidden_field_tag "q", params[:q] %>
  <%- end -%>
  <%- if params[:page] -%>
    <%= hidden_field_tag "page", params[:page] %>
  <%- end -%>
<%- end -%>
<ul>
  <%- @assets.each do |asset| -%>
    <li class="asset-summary" id="asset_<%= asset.id %>">
      <%= h asset.identifier %>
      <%- permitted_to? :show, :assets do %>
        <%= link_to "view", asset_url(asset.uuid) %>
        <%= link_to "xml", formatted_asset_url(asset.uuid, "xml") %>
      <%- end -%>
      <%- permitted_to? :edit, :assets do %>
        <%= link_to "edit", edit_asset_url(asset) %>
      <%- end -%>
      <%- permitted_to? :destroy, :assets do %>
        <%= link_to_remote "destroy", :url => { :action => 'destroy', :id => asset.id }, :method => :delete, :confirm => "Are you sure you wish to delete #{asset.title}?", :html => { :class => "destroy_link" } %>
      <%- end -%>
      <%- permitted_to? :merge, :assets do %>
        <span class="mergebox">
        <%= check_box_tag "asset_ids[]", asset.id, false, :id => "merge_#{asset.id}" %><label for="merge_<%= asset.id %>">merge</label>
        </span>
      <%- end -%>
      <br />
      <strong><%= h asset.title %></strong>
      <ul>
        <%- asset.instantiations.sort{|a,b| [-a.availability, a.summary] <=> [-b.availability, b.summary]}.each do |instantiation| -%>
          <li class="instantiation_avail_<%= instantiation.availability %>">
            <%- permitted_to? :merge, :assets do -%>
              <%- unless instantiation.borrowed? -%>
                <span class="lendbox">
                  <%= check_box_tag "instantiation_ids[]", instantiation.id, false, :id => "lend_#{instantiation.id}" %><label for="lend_<%= instantiation.id %>">lend</label>
                </span>
                &nbsp;
              <%- end -%>
            <%- end -%>
            <%= h instantiation.summary %>
            <span class="annotations" style="<%= "display: none;" unless session[:show_annotations] %>"><%= h instantiation.annotation %></span>
            <%- if instantiation.format_location =~ /^(f|ht)tp:\/\// -%>
              <%= link_to "[link]", instantiation.format_location %>
            <%- end -%>
            <%- if instantiation.borrowed? -%>
              <span class="borrowednote">[on loan]</span>
            <%- end -%>
          </li>
        <%- end -%>
      </ul>
    </li>
  <%- end -%>
</ul>
<%- permitted_to? :merge, :assets do -%>
  <p>
    <%= submit_tag "Merge Selected Assets", :onclick => 'return approveMerge();', :id => "mergebutton" %>
    <%= submit_tag "Lend Selected Instantiations", :id => "lendbutton" %>
  </p>
  </form>
<%- end -%>

<%= will_paginate @search_object %>
<%- end -%>
