<%= render :partial => 'search_form' %>

<ul>
  <%- @assets.each do |asset| -%>
    <li id="asset_<%= asset.id %>">
      <%- title = asset.titles.map{|t| t.title}.join(", ") -%>
      <%= h title %>
      <%= link_to "view", asset_url(asset.uuid) %>
      <%= link_to "xml", formatted_asset_url(asset.uuid, "xml") %>
      <%= link_to_remote "destroy", :url => { :action => 'destroy', :id => asset.id }, :method => :delete, :confirm => "Are you sure you wish to delete #{title}?", :html => { :class => "destroy_link" } %>
    </li>
  <%- end -%>
</ul>

<%= will_paginate @search_object %>

<p><%= link_to "upload assets", :controller => :xml %></p>