<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>
      pbcore
      <%- if @page_title -%>
        || <%= @page_title %>
      <%- end -%>
    </title>
    <%= stylesheet_link_tag "application"  %>
    <%= opensearch_headers(@search_object) %>
    <%= alternate_views %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "jquery.template.js" %>
  </head>
  <body>
    <%= content_tag :h1, @page_title %>
    <%- [:error, :warning, :message].each do |severity| %>
      <%- if flash[severity] -%>
        <div id="<%= severity.to_s %>">
          <%= flash[severity] %>
        </div>
      <%- end -%>
    <%- end -%>
    <%= yield %>
  </body>
</html>
