<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>
      pbcore || <%= h(yield(:title)) %>
    </title>
    <%= stylesheet_link_tag "application"  %>
    <%= opensearch_headers(@search_object) %>
    <%= alternate_views %>
    <% bundle do -%>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "jquery.template.js" %>
    <%- end %>
  </head>
  <body>
    <ul id="navbar">
      <li><%= link_to "home", "/" %></li>
      <li><%= link_to "create new asset", :controller => :assets, :action => 'new' %></li>
      <li><%= link_to "upload assets", :controller => :xml %></li>
      <%= yield :navbaritems %>
    </ul>
    <%= content_tag :h1, h(yield(:title)) %>
    <%- [:error, :warning, :message].each do |severity| %>
      <%- if flash[severity] -%>
        <div id="<%= severity.to_s %>">
          <%= flash[severity] %>
        </div>
      <%- end -%>
    <%- end -%>
    <%= yield %>
    <p id="aboutlink">
      <%= link_to "about this site", "/static/about" %>
    </p>
  </body>
</html>
