<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>
      pbcore || <%= h(yield(:title)) %>
    </title>
    <%= stylesheet_link_tag "application"  %>
    <%= opensearch_headers(@search_object) %>
    <%= alternate_views %>
    <% bundle do -%>
      <%= javascript_include_tag :defaults %>
      <%= javascript_include_tag "jquery.template.js" %>
    <%- end %>
  </head>
  <body>
    <div id="navbar">
      <%= render :partial => "users/user_bar" %>
      <ul class="post-user-bar">
        <%- permitted_to? :index, :assets do -%>
          <li><%= link_to_unless_current "home", "/" %></li>
        <%- end -%>
        <%- permitted_to? :create, :assets do -%>
          <li><%= link_to_unless_current "create new asset", :controller => :assets, :action => 'new' %></li>
          <li><%= link_to_unless_current "upload assets", :controller => :xml %></li>
        <%- end -%>
        <%- permitted_to? :show, :picklists do %>
          <li><%= link_to_unless_current "picklists", :controller => :picklists %></li>
        <%- end -%>
        <%- permitted_to? :index, :borrowings do %>
          <li><%= link_to_unless_current "borrowings", :controller => :borrowings, :action => :index %></li>
        <%- end -%>
        <%- permitted_to? :index, :users do %>
          <li><%= link_to_unless_current "users", :controller => :users %></li>
        <%- end -%>
      </ul>
      <ul class="post-user-bar navbar2">
        <%= yield :navbaritems %>
      </ul>
   </div>
    <%= content_tag :h1, h(yield(:title)) %>
    <%- [:error, :warning, :message].each do |severity| %>
      <%- if flash[severity] -%>
        <div id="<%= severity.to_s %>">
          <%= flash[severity] %>
        </div>
      <%- end -%>
    <%- end -%>
    <%= yield %>
    <p id="aboutlink">
      <%= link_to "about this site", "/static/about" %>
    </p>
  </body>
</html>
