!!! XML
!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    -# yes, that is a literal double-pipe, not a computed boolean OR
    %title& #{application_title} || #{yield(:title)}
    = stylesheet_bundle 'application'
    = stylesheet_bundle PBCore.config[:theme]
    = google_javascript_libraries(@page_has_flash)
    = javascript_bundle 'common'
    - if @page_has_flash
      = javascript_bundle 'flash'
    = opensearch_headers(@search_object)
    = alternate_views
    = yield :head
  %body
    %table.holder
      %tr
        %td{ :align => "center" }
          %table#header.header
            %tr
              %td &nbsp;
          %table#body{ :cellspacing => "0", :border => "0", :cellpadding => "0" }
            %tr
              %td{ :colspan => "2" }
                %table{ :cellspacing => "0", :border => "0", :cellpadding => "0" }
                  %tr
                    %td.topnavBar{ :align => "left" }
                      = render :partial => 'layouts/top_nav'
                    %td.topnavuserBar
                      = render :partial => 'users/user_bar'
            %tr
              %td.sidebarTop{ :align => "left" }
                %h1 Search / Browse
              %td.contentTop
                %div.contentTopLinksArea
                  - if @have_second_nav
                    = render(:partial => "layouts/second_nav")
                  - else
                    %h1&= yield(:title)
                  %div.iconLinks
                    = link_to("All Assets", set_filter_path("off"), :id => "all_asset_link", :class => (session[:filter] == "off" || session[:filter].nil?) ? nil : "selected_option")
                    = link_to("Assets with PDF", set_filter_path("attachment"), :id => "attachment_asset_link", :class => (session[:filter] == "attachment") ? "selected_option" : nil)                    
                    = link_to("Streamable Assets", set_filter_path("streamable"), :id => "streamable_asset_link", :class => (session[:filter] == "streamable") ? "selected_option" : nil)
            %tr
              %td.sidebarMiddle
                - if permitted_to? :index, :assets
                  = render :partial => "assets/search"
              %td.contentMiddle{ :align => "left", :bgcolor => "#FFFFFF" }
                - if @have_second_nav
                  %h1.inside&= yield(:title)
                - [:error, :warning, :message].each do |severity|
                  - if flash[severity]
                    .flash{ :id => severity.to_s }= flash[severity]
                = yield
            %tr
              %td.sidebarBottom &nbsp;
              %td.contentBottom &nbsp;
          %table#footer.footer{ :cellspacing => "3", :border => "0", :cellpadding => "3" }
            %tr
              %td
                = link_to 'About this site', {:controller => 'static', :action => 'about'}, :class => "footerLink popmeup"
                - PBCore.config[:footer_links].each do |text, url|
                  = link_to text, url, :class => "footerLink"
    - if PBCore.config[:google_analytics]
      :javascript
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      :javascript
        try{ 
        var pageTracker = _gat._getTracker("#{PBCore.config[:google_analytics]}");
        pageTracker._trackPageview();
        } catch(err) {}
